//- extends layout

//- block content
//-   h1= title
//-   p Welcome to #{title}

doctype html
html
  head
    //- title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Cocktails baby!
    img(src="http://dreamchimney.com/oftheday/otd_images/20110527044721_auto.jpg")