doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header
        h1 mixta
    #container
        img(src="http://dreamchimney.com/oftheday/otd_images/20110527044721_auto.jpg")
        img(src="http://dreamchimney.com/oftheday/otd_images/20110527044721_auto.jpg")
        p this is just a paragraph!
        h2 bottom!
        img(src="/images/cocktails.jpg")