doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/stylesheets/gallery-css/dist/gallery.theme.css')
    link(rel='stylesheet', href='/stylesheets/gallery-css/dist/gallery.prefixed.css')
    link(rel='stylesheet', href='/stylesheets/gallery-css/vendor/normalize.css')
  body
    #header
        a(href="#")
            img(id="logo", src="/images/mixta_02.png")
            nav
                a(id="menu-icon", href="#")
                ul
                    li
                        a(href="#") home
                    li
                        a(href="#") drinks
                    li
                        a(href="#") tips
                    li
                        a(href="#") contact
                    li
                        a(href="#") about
    #carousel
        div(class="gallery autoplay items-3")
            #items-1.control-operator
            #items-2.control-operator
            #items-3.control-operator
            
            figure.item
                img(src='/images/test1.jpg')
            figure.item
                h1 second
            figure.item
                h1 third

            .controls
                a(href="#item-1" class="control-button") •
                a(href="#item-2" class="control-button") •
                a(href="#item-3" class="control-button") •

    #container
        img(src="http://dreamchimney.com/oftheday/otd_images/20110527044721_auto.jpg")
    #footer
        © Copyright 2014 by <b>Lampros D.</b>. All Rights Reserved.