doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header
        a(href="#")
            img(id="logo", src="/images/mixta_02.png")
            nav
                a(id="menu-icon", href="#")
                ul
                    li
                        a(href="#") home
                    li
                        a(href="#") drinks
                    li
                        a(href="#") tips
                    li
                        a(href="#") contact
                    li
                        a(href="#") about
    #container
        img(src="http://dreamchimney.com/oftheday/otd_images/20110527044721_auto.jpg")
        //- img(src="http://dreamchimney.com/oftheday/otd_images/20110527044721_auto.jpg")
        //- p this is just a paragraph!
        //- h2 bottom!
        //- img(src="/images/cocktails.jpg")
    #footer are coming soon..