 extends layout

 block content
   h1= title
   p Welcome to #{title}

//- h1 Cocktails baby!
    //img(src="http://dreamchimney.com/oftheday/otd_images/20110527044721_auto.jpg")
    //p this is just a paragraph!
    //h2 bottom!
    //img(src="/images/cocktails.jpg")