body {
	padding: 0;
	margin: 0;
	width: auto;
	min-height: 100%;
	height: auto;
}

#header {
    background-color: black;
    color: white;
    height: 20%;
    width: 100%;
}

#hpart_01 {
	/*height: 30%;*/
	width: 35%;
	background-color: black;
	text-align: center;
	float:left;
}

#hpart_02 {
	/*height: 30%;*/
	width: 30%;
	background-color: #A7DBD8;
	float: left;
}

#hpart_03 {
	/*height: 30%;*/
	width: 35%;
	background-color: #E0E4CC;
	float:left;
}

#container {
	padding:50px;
	font:14px "Lucida Grande",Helvetica,Arial,sans-serif;
	text-align: center;
}

#footer {
	height: 20%;
    width: 100%;
    background-color: black;
    color: white;
}

a {
	color:#00B7FF;
}

p {
	background-color: red;
}